/*General Styles*/

*{
  box-sizing:border-box;
}


/*blokk szintű elemek*/
h1, h2, h3, ul, li, p, img{
  margin-bottom:1rem;
}

section, 
.location, 
.program,
.gifts,
.faq,
.contact{
  width:95%;
  margin: 1.5rem auto;
  padding:1rem;
  text-align:center;
}

body{
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png')repeat center;
  font-family:'Libre Baskerville', cursive;
  font-size:1.125rem;
  line-height:1.5;
  color:rgb(68, 67, 73);
}

ul{
list-style:none;
}

a{
  text-decoration:none;
  color:#bd806e;
}

a:hover{
  color:#eda087;
  transition:color .15s ease-in-out;
}

h1, h2{
  font-family:"Great Vibes", cursive;
}

h2{
  font-size:3rem;
}

h3{
  font-size:1.5rem;
}


/*Header Styles*/
.cover{
background:url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg')no-repeat 70% center;
display:table;
background-size:cover;
width:100vw;  /*ez által "teljes" képernyős szélességben*/ /**header konténert kitöltő*/
height:100vh;  /*ez által "teljes" képernyős magasságban*/ /**header konténert kitöltő*/
text-align:center;
}

.wrapper-text{
display:table-cell;
vertical-align:middle;
}


.text{
margin:0 auto;
padding:.625rem;
color:hsla(0,0%,100%,.9);
background:hsla(100,0%,0%,.5);
}

.text h1{
font-size:3.15rem;
color: rgb(210, 187, 137);
margin-bottom:0;
}

.main-title{
font-size:1.25rem;
letter-spacing:.15rem;

}

.main-title::after{
display:block;
content: "";
background-color:white;
height:1px;
width:12.515625rem;
margin:.5rem auto;
}

/*Date Style*/

.date::before, .date::after{
display:inline-block;
content: "";
background-color:white;
height:1px;
width:1.5rem;
vertical-align:middle;  /*vízszintes vonal középre igazítás a dátum mellet*/
margin:0 .5rem;
}

.date{
font-size:1.25rem;
letter-spacing:.15rem;
vertical-align:middle;
}

.blurp img{
height:10rem;
}

.blurp h3{
font-weight:700;
}

.blurp{
font-family:'Muli', Arial;
}

.blurp::after{
content: "";
display:block;
height:.188rem;
width:25vw;
margin:1.5rem auto;
background-color: rgb(68, 67, 73);
}

/*Program Styles*/

.program{
background-color:hsla(100,0%,0%,.6);
width:100vw;
text-align:left;
color:rgb(210, 187, 137);
font-family:'Muli', cursive;
display:table;
}

program .wrapper-program{
display:table-cell;
}

.program h2{
text-align:center;
font-family:'Great Vibes', cursive;
}


.program p{
font-style:italic;
font-size:1rem;
}

.program ul{
letter-spacing:.025rem
}


/*Gifts Style*/

.gifts img{
height:7.5rem;
}

.gifts p:last-child{
margin-top:0;  /*Extra margin eltüntetése. Felső és alsó margók kiegyenlítése*/
}

.faq{
background-color:hsla(100,0%,0%,.6);
color:#d2ba87;
width:100vw;
text-align:center;
}

.faq p{
font-family:'Muli', sans-serif;
text-align:left;
}

.faq h2{
margin-top:1rem;
}

.question{
font-weight:bold;
margin-bottom:.5rem;
}

.answer{
margin-bottom:1.5rem;
}

.qgroup::after{
content: "";
display:block;
height:.1875rem;
width:50vw;
margin:1.5rem auto;
background-color:#d2ba87;
}

/*Footer Style*/

.footer{
width:100vw;
height:10vh;
background-color: #606060;
color:white;
font-family:'Muli', sans-serif;
display:table;
text-align:center;
font-size:.875rem;  /*14px*/
}

.wrapper-footer{
display:table-cell;
vertical-align:middle;
padding:.5rem 1rem;
}

footer p{
margin-bottom:0;
}

footer small{
line-height:1.5;
}


/*==Media query==*/

/*Header @media query min-width:768px*/

@media (min-width: 768px){
.cover{
  background:url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat, center;
  background-size:cover;
}
}

@media (min-width: 768px){
.text{
  padding:1.25rem;
  border-radius:4px;
  width:50%;
}  

.text h1{
font-size:7rem;
}
}

@media (min-width: 768px){

.main-title{
text-transform:uppercase;
}
}

/*Locations @media query min-width: 768px*/

@media (min-width: 768px){
.blurp{
  display:inline-block; /*egy sorba rendezi a helyszíneket*/
  width:30%; /*szekciók közötti távolság/szélesség szekciónként megbontva a blokk element*/
  padding:1.5rem; /*24 px-es padding reszponívvá konvertálva reszponzívvá konvertálva 768px-en nagyobb felbontásnál 1.5*16px (16px a gyökérelemnek az alapértelmezett)*/
  margin:.5rem;  /*8px-es margin  reszponzívvá konvertálva 768px-en nagyobb felbontásnál*/
}


.blurp::after{
display:none;  /*eltünteti a vízszintes vonalakat 768px-en nagyobb felbontásnál. a @media query egybeágyazva van(kapcsos zárójel!)*/
}
}

/*Program @media query min-width: 768px*/

@media (min-width: 768px){
.wrapper-program{
  width:30vw;
  margin:0 auto;
}
}


/*FAQ @media query min-width: 768px*/

@media (min-width: 768px){
.qgroup{
  display:inline-block;  /*3 oszlopba rendezi a programokat. fontos a szélesség beállítás (width:30%), hogy kiférjen egymás mellé a 3 oszlop*/
  width:30%;  /*fontos a szélesség beállítás, hogy kiférjen egymás mellé 768px -vagy annál nagyobb kijelzőn a programok*/
  vertical-align:top;  /*a konténer tetejéhez igazítja mindhárom oszlop szöveg részét 768px -vagy annál nagyobb kijelző méretnél.*/    /*egymáshoz igazítja a gyakoriu kérdések oszlopait*/
  padding:1.5rem; /*oszlopok közötti 24px-es padding/távolság reszponzívvá konvertálva 1.5rem*16px = 24px/16px; 16px az alapértelmezett a gyökér (HTML) elemnél*/
  margin:.5rem;  /*8px-es margin  reszponzívvá konvertálva 768px-en nagyobb felbontásnál*/
}
.qgroup::after{
  display:none;   /*eltünteti a vízszintes vonalakat 768px-en nagyobb felbontásnál. a @media query egybeágyazva van(kapcsos zárójel!)*/
}
.qgroup h3{
  text-align:left;  /*<h3> címsorok balra rendezése mind 3 qroup diven belül/felül*/
}
}


/*Footer @media query min-width: 768px*/

@media (min-width: 768px){
footer{
  min-height:7vh;
}
}









